doctype html
html
  head
    meta(http-equiv='Content-type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='https://www.herokucdn.com/favicon.ico' type='image/vnd.microsoft.icon')
    link(rel='stylesheet' href='https://www.herokucdn.com/shibori3/latest/shibori3.min.css')
    if (!htmlWebpackPlugin.options.production)
      script(src='http://localhost:35729/livereload.js')
    for css in htmlWebpackPlugin.files.css
      link(rel='stylesheet' type='text/css' href=css)
    title #{htmlWebpackPlugin.options.title}
  body(class=htmlWebpackPlugin.options.bodyClass)
    header
      nav
        a(href='/')
          .logo
        if(typeof htmlWebpackPlugin.options.header !== 'undefined')
          span.title #{htmlWebpackPlugin.options.header}
        else
          span.title #{htmlWebpackPlugin.options.title}
        
        block nav
    block architecture
    block chart
    
    main
      block content

      footer.footer-legend
        ul
    for js in htmlWebpackPlugin.files.js
      script(src=js)
