doctype html
html
  head
    meta(http-equiv='Content-type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='https://www.herokucdn.com/favicon.ico' type='image/vnd.microsoft.icon')
    if (!htmlWebpackPlugin.options.production)
      script(src='http://localhost:35729/livereload.js')
    for css in htmlWebpackPlugin.files.css
      link(rel='stylesheet' type='text/css' href=css)
    title #{htmlWebpackPlugin.options.title}
  body(class=htmlWebpackPlugin.options.bodyClass)
    header
      nav
        .logo
        ul.nav-items
          li.title #{htmlWebpackPlugin.options.title}
          li.nav-link.architecture-link Architecture
          li.nav-link Learn More
            ul.dropdown.nav-learn
              li: a(href='https://github.com/heroku/kafka-demo') Fork on GitHub
              li: a(href='https://heroku.com/kafka') Apache Kafka on Heroku
    .architecture
      iframe.architecture-iframe(width='100%', height='430px', scrolling='no', seamless)
    main
      .chart-list
        .chart-container.chart-topics
          span.title
            | Count of Messages by Keyword
            | 
            span.start-time-container
              | (since
              |  
              span.start-time ...
              | )
          .chart.loading
        .chart-container.chart-related
          span.title
            | Frequency of Related Words
            | 
            | 
            span.start-time-container
              | (since
              |  
              span.start-time ...
              | )
          .chart.loading
        .chart-container.chart-stats
          span.title Message Velocity
          .chart.chart-averages.loading
        .chart-container.chart-stream
          span.title Message Volume During the Last Minute
          .chart.loading
      footer.footer-legend
        ul
    for js in htmlWebpackPlugin.files.js
      script(src=js)
