doctype html
html
  head
    meta(http-equiv='Content-type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='https://d3k90kvix375hb.cloudfront.net/assets/favicon.ico' type='image/vnd.microsoft.icon')
    for css in htmlWebpackPlugin.files.css
      link(rel='stylesheet' type='text/css' href=css)
    title #{htmlWebpackPlugin.options.title}
  body(class=htmlWebpackPlugin.options.bodyClass)
    header
      nav
        .logo
        ul.nav-items
          li Legend
            ul.dropdown.nav-legend
              li.color1 Topic 1
              li.color2 Topic 2
              li.color3 Topic 3
              li.color4 Topic 4
          li Architecture
          li Learn More
            ul.dropdown.nav-learn
              li: a(href='#') Fork on GitHub
              li: a(href='#') Another link
              li: a(href='#') Another link
    .architecture
      img.diagram(src='/images/flow-diagram.svg')
    main
      .chart-container.chart-topics
        span.title Topics Count
        .chart.loading
      .chart-container.chart-stats
        span.title Averages
        .chart.chart-averages.loading
      .chart-container
        span.title Related Words
        .chart.loading
      .chart-container.chart-stream
        span.title Topics
        .chart.loading
    for js in htmlWebpackPlugin.files.js
      script(src=js)
