doctype html
html
  head
    meta(http-equiv='Content-type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='https://d3k90kvix375hb.cloudfront.net/assets/favicon.ico' type='image/vnd.microsoft.icon')
    for css in htmlWebpackPlugin.files.css
      link(rel='stylesheet' type='text/css' href=css)
    title #{htmlWebpackPlugin.options.title}
  body(class=htmlWebpackPlugin.options.bodyClass)
    header
      nav
        .logo
        ul.nav-items
          li.title Kafka Demo App
          li.nav-link Legend
            ul.dropdown.nav-legend
          li.nav-link.architecture-link Architecture
          li.nav-link Learn More
            ul.dropdown.nav-learn
              li: a(href='https://github.com/crcastle/twitter-display') Fork on GitHub
              li: a(href='https://heroku.com/kafka') Apache Kafka on Heroku
    .architecture
      iframe(width='100%', height='430px', scrolling='no', seamless, src='/images/kafka-diagram/kafka-diagram.html')
    main
      .chart-container.chart-topics
        span.title Topics Count
        .chart.loading
      .chart-container.chart-related
        span.title Related Words
        .chart.loading
      .chart-container.chart-stats
        span.title Averages
        .chart.chart-averages.loading
      .chart-container.chart-stream
        span.title Topics
        .chart.loading
    for js in htmlWebpackPlugin.files.js
      script(src=js)
